body {
  background-color: #282928;
  color: #FDFFFF;
  width: 500px;
  padding-left:50px;
  margin-right: 50%;
  margin-left : 50%;
}
button {
  padding: 5px 20px;
  background-color: #337AB7;
  color: #FDFFFF;
  border-color: #2E6DA4;
  border-style: none;
}
input {
  height: 20px;
}
